.container-prd h1{
    font-size: 38px;
    margin-top: 7%;
    text-align: center;
    font: normal 36px 'Roboto', cursive;
}

.container-prd .select{
    display: flex;
    gap: 18%;
    padding: 2%;
    align-items: center;
}
.container-prd .select .search-select select option:hover{
    background: gray;
    color: white;
}
.container-prd .select .search-select{
    margin: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.container-prd .select .search-select select {
    padding: 1.5%;
}
.container-prd .select .sort select{
    padding: 9.5%;
}

.container-prd .show-prd .box .prd .img img{
    height: 13rem;
}
.container-prd .show-prd{
    text-align: center;
}
.container-prd .show-prd .box   {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    padding: 4%;
}
.container-prd .show-prd .box .prd{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 10%;
}
.container-prd .show-prd .box .prd h6{
    font-size: 13px;
    height: 10%;
    margin: 15px 10px 0;
}
.container-prd .show-prd .box .prd p{
    margin: 0 10px 10px;
    color: gray;
    font-size: 12px;
}
.container-prd .show-prd .box .prd .price{
    margin: 5px 10px;
    font-size: 14px;
}
.container-prd .show-prd .box .prd .year p{
    font-size: 12px;
    color: #000;
}
.container-prd .show-prd .box .prd .year p span{
    font-size: 10px;
    margin-left: 10px;
    color: gray;
}














@media(max-width:991px){
    .container-prd .select{
        gap: 33%;
    }
    .container-prd .show-prd{
        width: 144%;
    }
}







@media(max-width:768px){
    .container-prd .select{
        gap: 28%;
    }
    .container-prd{
    
        width: 125%;
    
    }
    .container-prd .show-prd .box{
        padding: 9%;
    }
}


@media(max-width:450px){
    .container-prd{
        width: 188%;
    }
    .container-prd .show-prd .box{
        padding: 13%;
    }
    .container-prd .select .sort select{
        padding: 5.5%;
    }
    .container-prd .select {
        gap: 24%;
    }
    .container-prd .select .search-select select {
        padding: 0.5%;
    }
}